body {
    background-color: azure;
    border: 3px;
    margin: 2px;
    padding: 60px;
    justify-content: center;
    height: 100vh;

}
nav {
    display: flexbox;

    
}
h1 {
    text-align: center;
    color: rgba(5, 120, 1, 0.665);
}
h2{
    text-align:center;
    color: rgb(4, 94, 48);
}
h3 {
    text-align: center;
    color: rgb(1, 60, 16);
}
ul {
    display: flex;
    flex-direction: row;
    align-items:center; 
    list-style: none;
    justify-content: center;
}
li {
    display: flex;
    border: 10px solid rgba(99, 121, 2, 0.052);
    padding: 55px;
    align-items: center;


}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}
figure {
    justify-content: center;
    margin: 20px;
}



 figcaption {
    border: 1px thin rgb(4, 83, 5) solid;
    justify-content: center;       
}
 img {
    width: 200px;
    align-content: center;
    display: block;
    width: 30%;
    
 
}
personal {
    display: inline-flex;
    align-items: center;
}
.photoandcaption {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    background: #a1800b64;
    padding: 10px 0;
   
}
.container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.list {
    font: 1.5em sans-serif;
    color:rgb(13, 188, 129);

}
.fixed-header {
   top: 0;
}
.fixed-footer {
    bottom: 0;
}

.copyright {
    text-align: center  ;
}
